.header {
    background-color: #a3295b;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 8px 20px -10px rgba(163, 41, 91, 1);
  }
  
  .form {
    display: flex;
    align-items: stretch;
  }
  
  .input {
    width: 360px;
    height: 30px;
    padding: 4px;
    display: block;
    border: none;
  }
  
  .input:focus {
    outline: none;
  }
  
  .icon {
    color: #a3295b;
  }
  
  .button {
    width: 30px;
    height: 30px;
    background-color: white;
    border: none;
  }
  
  .button:hover .icon {
    fill: #822149;
  }